---
layout: default
---

<div>

  <section>
    <h1>PUTA MIERDA malaga</h1>

	<img height="300" src="http://imagenes-cdn.laopiniondemalaga.es/multimedia/fotos/2017/06/24/96025/widget_g.jpg">
    <p>
      Mobile-Malaga, poshe, stylish, the best ever
    </p>
  </section>

  <section>
    <h2>What is Malaga?</h2>

    <p>
		Málaga es una ciudad y un municipio de España, capital de la provincia homónima y ubicada en la comunidad autónoma de Andalucía.
    </p>
    <p>
		Con una población de 569 009 habitantes en 2016,[8]​ Málaga es la sexta ciudad más poblada de España, la segunda de Andalucía y la número cuarenta y seis de la Unión Europea, <b>QUE NOOOOOOO, QUE ES PUTA MIERDA HAHAHHAHAHAHHAHAH</b>
    </p>
  </section>

  <section>
    <h2>What is PUTA_MIERDA?</h2>

    <p>
		RECOLECTOR DE MIERDA BUENA. Puedes saber más por <a href="{{site.baseurl}}/quienmierdassomos/">aquí</a>
    </p>
  </section>

  <section>
	<h2>Eventooos Próximos</h2>

    {% assign sorted = site.pages | sort:'date' | reverse %}

    {% for event in sorted limit:2 %}
  	{% if event.type == 'event' %}
  	  <hr />
      <div class="media t-hackcss-media">

        <div class="t-hackcss-media-shift media-left">
          <img class="t-hackcss-media-image"
               src="{{ event.image_preview }}" alt="{{ post.title }}"
               title="{{ event.title }}" />
        </div>

        <div class="media-body">
          <div class="media-heading">
            <span>{{ event.date | date: "%-d %B %Y %R" }} &raquo;
                <a href="{{ event.url | prepend: site.baseurl }}" title="{{ project.name }}">
                  {{ event.title }}
                </a>
            </span>
          </div>
          <div class="media-content">
  		  {{ event.lugar }}
  		  <br/>
  		  {{ event.categories }}
  		  <br/>
            {{ event.short_description }}
          </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
  </section>

  <section>
    <hr />
    <h2>Suscribete premoh!, ni puta idea de como va el feed a'un</h2>
    <p>subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>
    </p>
  </section>
</div>
