<footer class="t-hackcss-footer">
  <br />
  <hr />
  <h3 class="footer-heading">{{ site.title }}</h3>

  <div class="grid t-hackcss-sm-reversed-grid">

    <div class="cell -5of12">
      <div class="contact-list">
        <p>
          {{ site.your_name }},
          <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        </p>

  <hr />
		<p>
			Ni idea de si este sitio te deja cockies pero, macho, como tol mundo lo avisa y con lo chunga que est'a la cosa mejor te avisamos. Est'as aceptando que se metan galletas en tu ojete cuando navegas por este sitio: // galletas: Cookies ?? ojete: navegador //
		</p>


        <!-- {% for social in site.social %}
          {% assign template = social.service|prepend:"icon-"|append:".html" %}
          <span class="t-hackcss-social">
            <i class="t-hackcss-icon">{% include {{ template }} %}</i>
            <a href="{{ social.link }}">{{ social.username }}</a>
          </span>
        {% endfor %} -->
      </div>
    </div>
  <hr />
    <div id="footer-spacer" class="cell -1of12"></div>

    <div class="cell -6of12">
      <p>{{ site.description }}</p>
    </div>
  </div>

</footer>
